<div class="col s3">
        <div class="center">
            <div class="white-text">
                <ul id="slide-out" class="side-nav fixed grey darken-4  z-depth-3" style="width: 300px;">
                    <form action="/search/" method="get">
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="search" type="text" class="validate" name="q">
                                <label for="search">Search by ID</label>
                            </div>
                            <button class="btn waves-effect waves-light" type="submit">Search
                                <i class="material-icons right">search</i>
                            </button>
                        </div>
                    </form>
                    <br>
                </ul>
            </div>
        </div>
    </div>